<nz-header>
  <div class="container">
    <div class="header-wrapper">
      <div class="header-left">
        <div class="logo">
          <a href="/"><i nz-icon nzType="bug" nzTheme="outline"></i></a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-nav">
          <li nz-menu-item nzSelected [routerLink]="['/']">Поиск</li>
          <li nz-menu-item [routerLink]="['favorites']">Избранное</li>
        </ul>
      </div>
      <div class="logout">
        <a href="#" (click)="logout($event)" nz-button nzType="link">Выйти</a>
      </div>
    </div>
  </div>
</nz-header>
