<nz-header>
  <div class="container">
    <div class="header-wrapper">
      <div class="header-left">
        <div class="logo">
          <a href="/"><i nz-icon nzType="bug" nzTheme="outline"></i></a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-nav">
          <li nz-menu-item nzSelected routerLinkActive="active" [routerLink]="['/']">Поиск</li>
          <li nz-menu-item routerLinkActive="active" [routerLink]="['favorites']">Избранное</li>
        </ul>
      </div>

      <div class="logout">
        <button
          nz-button
          nzType="default"
          nz-popover
          nzPopoverPlacement="bottomRight"
          [(nzPopoverVisible)]="visible"
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate"
        >
          {{user?.email}}
        </button>
        <ng-template #contentTemplate>
          <a [routerLink]="['/profile']">Профиль</a>
          <div>
            <a
              href="#"
              (click)="logout($event)"
            >Выйти</a>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</nz-header>
