<nz-header>
  <div class="container">
    <div class="header-wrapper">
      <div class="header-left">
        <div class="logo">
          <a href="/"><i nz-icon nzType="bug" nzTheme="outline"></i></a>
        </div>
        <ul nz-menu nzTheme="light" nzMode="horizontal" class="header-nav">
          <li nz-menu-item nzSelected [routerLink]="['/']">Поиск</li>
          <li nz-menu-item [routerLink]="['favorites']">Избранное</li>
        </ul>
      </div>
      <div *ngIf="!user?.emailVerified">
        <strong>Verified your email!</strong>
        <button
          nz-button
          nzType="primary"
          (click)="verifyEmail()"
        > Подтвердить почту</button>
      </div>
      <div class="logout">
        <button
          nz-button
          nzType="default"
          nz-popover
          [(nzPopoverVisible)]="visible"
          (nzPopoverVisibleChange)="change($event)"
          nzPopoverTrigger="click"
          [nzPopoverContent]="contentTemplate"
        >
          {{user?.displayName}}
        </button>
        <ng-template #contentTemplate>
          <a [routerLink]="['/profile']">{{user?.email}}</a>
          <div *ngIf="user?.emailVerified; else emailVerified">
            Email подтвержден
          </div>
          <ng-template #emailVerified>
            Email не подтвержден
          </ng-template>
          <a href="#" (click)="logout($event)" nz-button nzType="link">Выйти</a>
        </ng-template>

      </div>
    </div>
  </div>
</nz-header>
