* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 50px;
  margin: 0 auto;
  @media all and (max-width: 767px) {
    padding: 0 20px;
  }
}

nz-content {
  width: 100%;
  height: calc(100vh - 66px);
  background-color: #fff;
  padding: 2rem 0;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ant-input-suffix {
  cursor: pointer;
  transition: all .3s;
  &:hover {
    color: #1890ff;
  }
}

.anticon-eye-invisible {
  color: #1890ff;
}

.ant-menu-item {
  margin: 0 10px !important;
  &:focus {
    outline: none;
  }
}
