<div class="container">
  <form nz-form class="login-form" [formGroup]="form" (ngSubmit)="createUser(form)">

        <nz-alert
          *ngIf="authError"
          nzType="error"
          style="margin-bottom: 20px"
          nzMessage="{{authError.message}}"></nz-alert>

    <div class="logo">
      <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
    </div>
    <h2 nz-typography>Регистрация</h2>

    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="user">
          <input
            type="text"
            autocomplete="username"
            nz-input
            placeholder="Имя пользователя"
            formControlName="username"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="mail">
          <input
            type="email"
            autocomplete="email"
            nz-input
            placeholder="E-mail"
            formControlName="email"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Минимальная длинна пароля 6 символов">
        <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            autocomplete="new-password"
            nz-input
            placeholder="Пароль"
            formControlName="password"
          />
        </nz-input-group>
        <ng-template #suffixTemplate>
          <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
        </ng-template>

      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
      type="submit"
    >
      Зарегистрироваться
    </button>
    Или <a [routerLink]="['/auth','login']"> Войти </a>
  </form>

</div>
