<div class="container">
  <form nz-form class="login-form" > <!--[formGroup]="form" (ngSubmit)="submit()"-->

    <div class="logo">
      <nz-avatar [nzShape]="'square'" [nzSize]="64" [nzIcon]="'user'"></nz-avatar>
    </div>
    <h2 nz-typography>Регистрация</h2>

    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input placeholder="Имя пользователя" />  <!--formControlName="email"-->
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input placeholder="E-mail" />  <!--formControlName="email"-->
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Минимальная длинна пароля 6 символов">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input placeholder="Пароль" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Минимальная длинна пароля 6 символов">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input placeholder="Повторите пароль" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button
      nz-button
      class="login-form-button login-form-margin"
      [nzType]="'primary'"
    >
      Зарегистрироваться
    </button>
    Или <a [routerLink]="['/auth','login']"> Войти </a>
  </form>

</div>
