.filter-panel {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__switcher {
    font-size: 1.2rem;
    i {
      margin-left: 0 !important;
      color: #bebebe;
      &:last-child {
        margin-left: .5rem;
        @media all and (max-width: 345px) {
          margin-left: 0;
        }
      }
    }
  }
}

.active {
  color: #000 !important;
}

.icon-heart {
  color: #1390E5;
}

.video {
  &-grid {
    &-container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 25%);
      @media all and (max-width: 890px) {
        grid-template-columns: repeat(auto-fill, 50%);
      }
      @media all and (max-width: 767px) {
        grid-template-columns: repeat(auto-fill, 100%);
      }
    }
  }
  &-list {
    &-container {
      width: 100%;
    }
  }

}
