.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 13px 20px;
  border-bottom: 1px solid #F1F1F1;
  &__name {
    font-size: 1rem;
    font-weight: bold;
  }
  &__buttons {
    display: none;
  }
  &:hover {
    background-color: rgba(#000, .1);
    .favorite-item__buttons {
      display: block;
    }
  }
}
