<h2 nz-typography>Настройки профиля</h2>

<form nz-form class="profile-form">

  <div class="profile-form__block form-left">
    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="mail">
          <input
            autocomplete="email"
            type="text"
            nz-input
            placeholder="E-mail"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="mail">
          <input
            autocomplete="email"
            type="text"
            nz-input
            placeholder="E-mail"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Введите корректный адрес электронной почты">
        <nz-input-group nzPrefixIcon="mail">
          <input

            autocomplete="email"
            type="text"
            nz-input
            placeholder="E-mail"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </div>

  <div class="profile-form__block form-right">
    <div class="avatar">
      <nz-avatar
        [nzShape]="'square'"
        [nzSize]="64"
        [nzIcon]="'unlock'"
      ></nz-avatar>
    </div>
  </div>

</form>
